.btn-twitter {
    background-color: #4099FF;
    color: #fff;
}
.btn-facebook {
    background-color: #3B5998;
    color: #fff;
}
.btn-google-plus {
    background-color: #d34836;
    color: #fff;
}

ul.list-inline{
        display: flex;
        list-style-type: none;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
}

ul.list-inline li{
    padding:10px;
}
h1{
    font-family:'Oswald',arial narrow,sans-serif;
    color: white;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #cecece;
    bottom: 0;
    /* position: absolute; */
    width: 100vw;
}

#footer {
    bottom:150px;
    /* position: absolute; */
}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}