<div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>Good Reads             
          </h1>
        </div>   
      </div> 
    </div>
    <div class="container">
        <div class="row">
          
          <div class="col-md-12"> 
            
            <div class="panel">
              <div class="panel-body-home">
                
                
                
                <!--/stories-->
                 <img src="https://images.wisegeek.com/young-man-in-library-with-a-book-in-hand.jpg">
                 <div class="ad"> 
                   <br><br><br>
                    <h3> &nbsp; &nbsp;More than 1000+ free books</h3>
                    <h3> &nbsp; &nbsp;Available in 50+ languages</h3>
                    <h3> &nbsp; &nbsp;Work from  100+ authors</h3> <br><br>
                    <a routerLink="/books" class="btn btn-primary pull-right btnNext">  &nbsp; &nbsp; Explore Now! &nbsp; &nbsp;<i class="glyphicon glyphicon-chevron-right"></i></a>
                 </div>
                
                <!--/stories-->
          </div>
            </div>
           </div><!--/col-12-->
        </div>
      </div>
   </div>   
