<div class="masthead">
    <div class="row">
      <div class="col-md-7">
        <h1>Author
          <p class="lead"></p>
        </h1>
      </div>
  </div>
</div>

<div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            <div class="row">    
                <br>
                <div class="col-md-2 col-sm-3 text-center">
                  <a class="story-title" href="#"><img alt="" src="" style="width:100px;height:100px" class="img-circle"></a>
                </div>
                <div class="col-md-10 col-sm-9">
                  <h3>{{author.name}}</h3>
                  <div class="row">
                    <div class="col-xs-9">
                      <h5> &nbsp;&nbsp;<span class="label label-default">{{author.genre}}</span></h5> </div>
                      <small style="font-family:courier,'new courier';" class="text-muted"> </small>
                      </div>
                      <h3> Books:</h3>
                    <div class="col-xs-6">
                     {{author.book}}
                    </div>
                  </div>
                  <br><br>
                </div>
              </div>
              <a class="btn btn-primary pull-right btnNext" (click)="goBack()"> <i class="glyphicon glyphicon-chevron-left"> Back</i></a>
              <hr>
              <br>
              
  