
  h1{
    font-family: 'Bad Script', cursive;
    font-size: 55px;
    color: white;
  }

.container{
    background-color: white;
    width:40vw;
    height: 95vh;
}

h3{
    font-family: 'Bad Script', cursive;
    padding:10px;
}